<!-- <div class="col-6 right">

  <div class="col-12">
    <h4>Login</h4>
    <div class="form_box">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group col">
          <label for="email">Corporate Email</label>
          <input class="form-control" formControlName="email" type="email" placeholder="HSDF Email Address">
          <div *ngIf="loginForm.get('email')!.hasError('required') && loginForm.get('email')!.touched">
            Email is required.
          </div>
          <div *ngIf="loginForm.get('email')!.hasError('email') && loginForm.get('email')!.touched">
            Please enter a valid email address.
          </div>
        </div>

        <div class="form-group col">
          <label for="password">Enter Password</label>
          <input class="form-control" formControlName="password" type="password" placeholder="password">
          <div *ngIf="loginForm.get('password')!.hasError('required') && loginForm.get('password')!.touched">
            Password is required.
          </div>
          <div *ngIf="loginForm.get('password')!.hasError('minlength') && loginForm.get('password')!.touched">
            Password must be at least 6 characters.
          </div>
        </div>

        <br>

        <div class="form-group col">
          <button class="btn btn_blue col-6" type="submit" [disabled]="loginForm.invalid">Login</button>
          <span class="col-6 login_link" routerLink="/signup">Not Registered? <strong>Signup</strong></span>
        </div>
      </form>

    </div>
  </div>

</div> -->