<div class="left_section">
  <div class="left_header">
    <app-header-left-panel></app-header-left-panel>
  </div>
  <div class="body_left">
    <div class="dash_navigators">
      <div class="btn_group" routerLink="dashboard" routerLinkActive="active">
        <img src="{{dashboardIcon}}" alt="">
        <span>Dashboard</span>
      </div>
      <div class="btn_group" routerLink="all-request" routerLinkActive="active">
        <img src="{{allRequestIcon}}" alt="">
        <span class="dash_nav_text">All Requests</span>
      </div>
      <div class="btn_group" routerLink="pending-request" routerLinkActive="active">
        <img src="{{pendingRequestIcon}}" alt="">
        <span>Pending Requests</span>
      </div>
      <div class="btn_group">
        <img src="{{approvedRequestIcon}}" alt="">
        <span>Approved</span>
      </div>
      <div class="btn_group">
        <img src="{{disbursedIcon}}" alt="">
        <span>Disbursed</span>
      </div>
    </div>

    <div class="logout">
      <div class="btn_group">
        <img src="{{logoutIcon}}" alt="">
        <span>Logout</span>
      </div>
    </div>

  </div>
</div>