/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary_blue: #2d416e;
  --very_light_blue: #f2f5fec3;
  --white: #ffff;
  --light_gray: #f3f3f3;
  --gray: #a2a2a2;
  --border_gray: #ececec;
  --dark_blue: #202f4e;
  --very_dark_blue: #161f2e;

}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: var(--primary_blue);
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.btn_blue {
  background-color: var(--primary_blue);
  color: white;
  border-color: var(--primary_blue);
}

.btn_blue:hover {
  color: white;
}

.btn_gray {
  background-color: var(--light_gray);
}